{% extends 'base.html' %}

{% block title %}
Clinica
{% endblock %}

{% load static %}


{% block body %}  

<h1>registro medicos caralho</h1>

<form method="POST">
    {% csrf_token %}

    <table>
    {{form.as_table}}
    </table>
    <br>
    

        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="reset" class="btn btn-secondary">Limpiar</button>
    
</form>
<br>

<h3 color="green">{{mensaje}}</h3>

<h3 color="red">{{mensaje2}}</h3>

<h3 color="yellow">{{mensaje3}}</h3>

<br><br><br><br><br><br>

{% endblock %}     