{% extends 'base.html' %}

{% block title %}
Clinica
{% endblock %}

{% load static %}

{% block body %}   

<div class="text-white">
    <h1>Agregar Horario a {{rut}} </h1>  

    <h4>Terminos</h4>
    <h6>Para agregar el horario a un medico se debe tener en cuenta los siguientes terminos</h6>
    <h6>-No se tomara en cuenta los dias Sabado y Domingo</h6>
    <h6>-No se tomara en cuenta los dias Feriados</h6>
    <h6>-Se tomara la fecha actual como minimo</h6>
</div>

<form method="POST">
    <div style="display: flex; justify-content: space-between;">

        <div style="flex: 1; margin-right: 10px;">
            <label class="text-white" for="desde_hora">Hora Inicio</label>
            <select name="id_desde_hora" id="id_desde_hora" class="form-control">
                <option value="1">08:00 - 09:00</option>
                <option value="2">09:00 - 10:00</option>
                <option value="3">10:00 - 11:00</option>
                <option value="4">11:00 - 12:00</option>
                <option value="5">12:00 - 13:00</option>
                <option value="6">13:00 - 14:00</option>
                <option value="7">14:00 - 15:00</option>
                <option value="8">15:00 - 16:00</option>
                <option value="9">16:00 - 17:00</option>
                <option value="10">17:00 - 18:00</option>
            </select>
        </div>

        <div style="flex: 1; margin-left: 10px;">
            <label class="text-white" for="desde_dia">Dia Inicio</label>
            <select name="id_desde_hora" id="id_desde_hora" class="form-control">
                <option value="1">08:00 - 09:00</option>
                <option value="2">09:00 - 10:00</option>
                <option value="3">10:00 - 11:00</option>
                <option value="4">11:00 - 12:00</option>
                <option value="5">12:00 - 13:00</option>
                <option value="6">13:00 - 14:00</option>
                <option value="7">14:00 - 15:00</option>
                <option value="8">15:00 - 16:00</option>
                <option value="9">16:00 - 17:00</option>
                <option value="10">17:00 - 18:00</option>
            </select>
        </div>

    </div>

    <div style="display: flex; justify-content: space-between; margin-top: 10px;">

        <div style="flex: 1; margin-right: 10px;">
            <label class="text-white" for="hasta_hora">Hora Fin</label>
            <select name="id_hasta_hora" id="id_hasta_hora" class="form-control">
                <option value="1">Lunes</option>
                <option value="2">Martes</option>
                <option value="3">Miércoles</option>
                <option value="4">Jueves</option>
                <option value="5">Viernes</option>
                <option value="6">Sábado</option>
            </select>
        </div>

        <div style="flex: 1; margin-left: 10px;">
            <label class="text-white" for="hasta_dia">Dia Fin</label>
            <select name="id_hasta_dia" id="id_hasta_dia" class="form-control">
                <option value="1">Lunes</option>
                <option value="2">Martes</option>
                <option value="3">Miércoles</option>
                <option value="4">Jueves</option>
                <option value="5">Viernes</option>
                <option value="6">Sábado</option>
            </select>
        </div>
    </div>
        <div>
            <label class="text-white" for="desde_fecha">Fecha Inicio</label>
            <input type="date" name="desde_fecha" id="desde_fecha" class="form-control">
            
            <label class="text-white" for="hasta_fecha">Fecha Fin</label>
            <input type="date" name="hasta_fecha" id="hasta_fecha" class="form-control">
        </div>
    
    <br>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Agendar Horario</button>    
        <button type="reset" class="btn btn-primary">Limpiar</button>
    </div>
</form>

<br><br>

{% endblock %}     